## This Jupyter Notebook serves as a demo Workflow of cleaning and exploring IgE measurements with Pax for an allergen panel involve testing blood samples to detect Immunoglobulin E (IgE) antibody levels against specific allergens using the Pax system.

Fill in the empty code cells below. Feel free to add more code cells if needed.

### Data upload:
- Use the upload button on the left to upload the file: 'PAX_Data.xlsx'
- By default the data should have been upload to into the folder '/content'

## Load the required modules
- Just run the following code-cell to load all modules needed for this exercise

In [1]:
import os
import pandas as pd
import numpy as np

### Checking the working directory:
- use 'os.getcwd()' method to check for the current working directory.
- If you are using Google Colab, the default working directory should be the folder 'content'
- If not, use the 'os. chdir(<path>)' method to make sure to set the working directory

In [2]:
os.getcwd()

'/content'

## Read the excel file
- if you are not using Google Colab, make sure to set the path to your data file correctly: \'<FILE-PATH\>/PAX_Data.xlsx'
- use: 'Sheet1' as sheet_name
- ignore the header: header=None
- assign the loaded data to a variable called: df

In [4]:
file_name = 'PAX_Data.xlsx'
df = pd.read_excel(file_name, sheet_name='Sheet1', header=None)
print(df)

              0                1               2               3     \
0     Date of test       2023-04-13      2023-04-13      2023-04-13
1      Test number      2334000487D     2331000683D     2331000884D
2          Country            Spain      Netherland         Germany
3          Age Y/M  3Years 11Months  2Years 8Months  2Years 8Months
4              Sex           Female            Male            Male
..             ...              ...             ...             ...
245         Sola t            22.05           22.33           22.33
246      rSola t 2            22.36           24.08           24.08
247  rSola t_GBSSI            23.43           24.02           24.02
248      rHom s LF            27.51           27.94           27.94
249        CCD-HSA               27           25.61           25.61

               4                 5               6               7     \
0        2023-04-13        2023-04-13      2023-04-13      2023-04-13
1       2331000880D       2331000851D     2331001025D     2331000881D
2           Germany        Netherland          Sweden         Germany
3    7Years 9Months  11Years 11Months  4Years 8Months  1Years 9Months
4            Female              Male          Female            Male
..              ...               ...             ...             ...
245           21.61             21.85           20.94           19.71
246           16.39             16.83           30.73           18.29
247           19.78             20.01           24.56           23.26
248           27.75             27.55            27.9           27.82
249           24.08             22.01           21.98           21.86

               8               9     ...            6606            6607  \
0        2023-04-13      2023-04-13  ...      2023-06-30      2023-06-30
1       2331000879D     2344000227D  ...     2334002233D     2348000664D
2           Germany              UK  ...        Slovenia          Poland
3    6Years 9Months  3Years 8Months  ...  8Years 8Months  3Years 7Months
4            Female          Female  ...          Female          Female
..              ...             ...  ...             ...             ...
245           21.27           18.76  ...           20.05           21.44
246            19.2           18.89  ...           17.37           19.06
247           21.62           21.01  ...           21.38            20.4
248           27.71           27.65  ...           16.05           15.96
249           21.37           21.24  ...           17.95           18.37

               6608            6609            6610            6611  \
0        2023-06-30      2023-06-30      2023-06-30      2023-06-30
1       2331003597D     2331003185D     2331003447D     2334002232D
2           Belgium          Norway      Netherland        Slovenia
3    3Years 7Months  1Years 5Months  1Years 5Months  2Years 5Months
4            Female          Female          Female            Male
..              ...             ...             ...             ...
245            21.6           18.46           19.28           19.28
246            19.1           18.23           16.97           16.97
247           20.35           21.23           20.13           20.13
248           15.85           15.76           15.76           15.76
249           17.59           18.89           17.13           17.13

               6612            6613            6614            6615
0        2023-06-30      2023-06-30      2023-06-30      2023-06-30
1       2344000712D     2331003547D     2344000711D     2334002236D
2                UK      Netherland              UK           Spain
3    2Years 5Months  2Years 5Months  2Years 5Months  2Years 5Months
4              Male            Male            Male            Male
..              ...             ...             ...             ...
245           20.99           19.42           19.89           18.79
246           19.72           19.35           17.84           16.53
247           21.65           21.24           20.97           19.07
248           15.66           15.55           15.44            14.9
249           17.25           17.78           17.76           16.76

[250 rows x 6616 columns]

### Print the 'shape' of the dataframe

In [5]:
print(df.shape)

(250, 6616)

### Print the number of rows:

In [6]:
print(df.shape[0])

250

### Use the 'head' method to have a look at the first 10 rows of the table

In [7]:
print(df.head(10))

           0                1               2               3     \
0  Date of test       2023-04-13      2023-04-13      2023-04-13
1   Test number      2334000487D     2331000683D     2331000884D
2       Country            Spain      Netherland         Germany
3       Age Y/M  3Years 11Months  2Years 8Months  2Years 8Months
4           Sex           Female            Male            Male
5         Cyn d             18.5           19.67           20.11
6      rCyn d 1            22.99           21.95           20.66
7         Dac g            19.15           19.57           21.78
8         Fes p            21.84            21.3           26.96
9      rLol p 1            22.33           22.23           22.59

             4                 5               6               7     \
0      2023-04-13        2023-04-13      2023-04-13      2023-04-13
1     2331000880D       2331000851D     2331001025D     2331000881D
2         Germany        Netherland          Sweden         Germany
3  7Years 9Months  11Years 11Months  4Years 8Months  1Years 9Months
4          Female              Male          Female            Male
5           18.09             17.92           17.78           18.64
6           21.68             20.56           21.62           22.83
7           18.37             18.12           19.35           19.95
8           24.05             23.21           22.62           21.98
9           21.99             23.16           21.27           22.99

             8               9     ...            6606            6607  \
0      2023-04-13      2023-04-13  ...      2023-06-30      2023-06-30
1     2331000879D     2344000227D  ...     2334002233D     2348000664D
2         Germany              UK  ...        Slovenia          Poland
3  6Years 9Months  3Years 8Months  ...  8Years 8Months  3Years 7Months
4          Female          Female  ...          Female          Female
5            21.3            20.5  ...           16.33           17.18
6            23.2           25.07  ...           23.27           21.77
7           21.52           20.55  ...           19.28           20.33
8           24.55           20.39  ...           21.14           22.39
9           23.95           21.35  ...           17.81           19.57

             6608            6609            6610            6611  \
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2331003597D     2331003185D     2331003447D     2334002232D
2         Belgium          Norway      Netherland        Slovenia
3  3Years 7Months  1Years 5Months  1Years 5Months  2Years 5Months
4          Female          Female          Female            Male
5           15.48           15.79           18.64           17.44
6           21.78           20.69           26.49           20.76
7           17.34           19.06           18.86           17.84
8           20.93           21.78           19.95           20.64
9           22.76           21.23           21.77           19.41

             6612            6613            6614            6615
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2344000712D     2331003547D     2344000711D     2334002236D
2              UK      Netherland              UK           Spain
3  2Years 5Months  2Years 5Months  2Years 5Months  2Years 5Months
4            Male            Male            Male            Male
5           17.05           18.42           19.03           16.73
6           21.07           24.48            21.4           20.12
7           18.67           19.99           21.01            17.4
8           20.79           19.24           24.33           20.77
9           22.32           20.15            22.7           20.96

[10 rows x 6616 columns]

### Splitting the Data:
- As you can see, row 0 to 4 contains the metadata of the experiment
- Row 5 to end contains the measured expression data of Allergens

Now, we need to split the data into:
- Metadata and
- Expression data

Check the documentation of the pandas method 'iloc'
- Split the data, row 0 to 4 and assing it to a variable called: md
- From row 5 to end, assing the expression data to a variable called: expr

In [8]:
# Split data into metadata
md = df.iloc[0:5] # Row 0 to 4 (inclusive)
print(md)

           0                1               2               3     \
0  Date of test       2023-04-13      2023-04-13      2023-04-13
1   Test number      2334000487D     2331000683D     2331000884D
2       Country            Spain      Netherland         Germany
3       Age Y/M  3Years 11Months  2Years 8Months  2Years 8Months
4           Sex           Female            Male            Male

             4                 5               6               7     \
0      2023-04-13        2023-04-13      2023-04-13      2023-04-13
1     2331000880D       2331000851D     2331001025D     2331000881D
2         Germany        Netherland          Sweden         Germany
3  7Years 9Months  11Years 11Months  4Years 8Months  1Years 9Months
4          Female              Male          Female            Male

             8               9     ...            6606            6607  \
0      2023-04-13      2023-04-13  ...      2023-06-30      2023-06-30
1     2331000879D     2344000227D  ...     2334002233D     2348000664D
2         Germany              UK  ...        Slovenia          Poland
3  6Years 9Months  3Years 8Months  ...  8Years 8Months  3Years 7Months
4          Female          Female  ...          Female          Female

             6608            6609            6610            6611  \
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2331003597D     2331003185D     2331003447D     2334002232D
2         Belgium          Norway      Netherland        Slovenia
3  3Years 7Months  1Years 5Months  1Years 5Months  2Years 5Months
4          Female          Female          Female            Male

             6612            6613            6614            6615
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2344000712D     2331003547D     2344000711D     2334002236D
2              UK      Netherland              UK           Spain
3  2Years 5Months  2Years 5Months  2Years 5Months  2Years 5Months
4            Male            Male            Male            Male

[5 rows x 6616 columns]

In [9]:
# Split data into expression data
expr = df.iloc[5:] # Row 5 to end
print(expr)

              0      1      2      3      4      5      6      7      8     \
5            Cyn d   18.5  19.67  20.11  18.09  17.92  17.78  18.64   21.3
6         rCyn d 1  22.99  21.95  20.66  21.68  20.56  21.62  22.83   23.2
7            Dac g  19.15  19.57  21.78  18.37  18.12  19.35  19.95  21.52
8            Fes p  21.84   21.3  26.96  24.05  23.21  22.62  21.98  24.55
9         rLol p 1  22.33  22.23  22.59  21.99  23.16  21.27  22.99  23.95
..             ...    ...    ...    ...    ...    ...    ...    ...    ...
245         Sola t  22.05  22.33  22.33  21.61  21.85  20.94  19.71  21.27
246      rSola t 2  22.36  24.08  24.08  16.39  16.83  30.73  18.29   19.2
247  rSola t_GBSSI  23.43  24.02  24.02  19.78  20.01  24.56  23.26  21.62
248      rHom s LF  27.51  27.94  27.94  27.75  27.55   27.9  27.82  27.71
249        CCD-HSA     27  25.61  25.61  24.08  22.01  21.98  21.86  21.37

      9     ...   6606   6607   6608   6609   6610   6611   6612   6613  \
5     20.5  ...  16.33  17.18  15.48  15.79  18.64  17.44  17.05  18.42
6    25.07  ...  23.27  21.77  21.78  20.69  26.49  20.76  21.07  24.48
7    20.55  ...  19.28  20.33  17.34  19.06  18.86  17.84  18.67  19.99
8    20.39  ...  21.14  22.39  20.93  21.78  19.95  20.64  20.79  19.24
9    21.35  ...  17.81  19.57  22.76  21.23  21.77  19.41  22.32  20.15
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
245  18.76  ...  20.05  21.44   21.6  18.46  19.28  19.28  20.99  19.42
246  18.89  ...  17.37  19.06   19.1  18.23  16.97  16.97  19.72  19.35
247  21.01  ...  21.38   20.4  20.35  21.23  20.13  20.13  21.65  21.24
248  27.65  ...  16.05  15.96  15.85  15.76  15.76  15.76  15.66  15.55
249  21.24  ...  17.95  18.37  17.59  18.89  17.13  17.13  17.25  17.78

      6614   6615
5    19.03  16.73
6     21.4  20.12
7    21.01   17.4
8    24.33  20.77
9     22.7  20.96
..     ...    ...
245  19.89  18.79
246  17.84  16.53
247  20.97  19.07
248  15.44   14.9
249  17.76  16.76

[245 rows x 6616 columns]

### Print the 'shape' of each new table

In [10]:
print(md.shape)
print(expr.shape)

(5, 6616)
(245, 6616)

### Use the 'head' method to inspect the expr table

In [11]:
print(expr.head)

<bound method NDFrame.head of               0      1      2      3      4      5      6      7      8     \
5            Cyn d   18.5  19.67  20.11  18.09  17.92  17.78  18.64   21.3
6         rCyn d 1  22.99  21.95  20.66  21.68  20.56  21.62  22.83   23.2
7            Dac g  19.15  19.57  21.78  18.37  18.12  19.35  19.95  21.52
8            Fes p  21.84   21.3  26.96  24.05  23.21  22.62  21.98  24.55
9         rLol p 1  22.33  22.23  22.59  21.99  23.16  21.27  22.99  23.95
..             ...    ...    ...    ...    ...    ...    ...    ...    ...
245         Sola t  22.05  22.33  22.33  21.61  21.85  20.94  19.71  21.27
246      rSola t 2  22.36  24.08  24.08  16.39  16.83  30.73  18.29   19.2
247  rSola t_GBSSI  23.43  24.02  24.02  19.78  20.01  24.56  23.26  21.62
248      rHom s LF  27.51  27.94  27.94  27.75  27.55   27.9  27.82  27.71
249        CCD-HSA     27  25.61  25.61  24.08  22.01  21.98  21.86  21.37

      9     ...   6606   6607   6608   6609   6610   6611   6612   6613  \
5     20.5  ...  16.33  17.18  15.48  15.79  18.64  17.44  17.05  18.42
6    25.07  ...  23.27  21.77  21.78  20.69  26.49  20.76  21.07  24.48
7    20.55  ...  19.28  20.33  17.34  19.06  18.86  17.84  18.67  19.99
8    20.39  ...  21.14  22.39  20.93  21.78  19.95  20.64  20.79  19.24
9    21.35  ...  17.81  19.57  22.76  21.23  21.77  19.41  22.32  20.15
..     ...  ...    ...    ...    ...    ...    ...    ...    ...    ...
245  18.76  ...  20.05  21.44   21.6  18.46  19.28  19.28  20.99  19.42
246  18.89  ...  17.37  19.06   19.1  18.23  16.97  16.97  19.72  19.35
247  21.01  ...  21.38   20.4  20.35  21.23  20.13  20.13  21.65  21.24
248  27.65  ...  16.05  15.96  15.85  15.76  15.76  15.76  15.66  15.55
249  21.24  ...  17.95  18.37  17.59  18.89  17.13  17.13  17.25  17.78

      6614   6615
5    19.03  16.73
6     21.4  20.12
7    21.01   17.4
8    24.33  20.77
9     22.7  20.96
..     ...    ...
245  19.89  18.79
246  17.84  16.53
247  20.97  19.07
248  15.44   14.9
249  17.76  16.76

[245 rows x 6616 columns]>

As you can see column 0 contains the name of the Allergens

- Set the Allergen names as the index of the table (similar to rownames in R)example:   'expr.index = ...'
- 'drop' the column 0 and override the current variable

In [12]:
expr = expr.set_index(expr.columns[0]) # Set Allergen names in column 0 as index
print(expr)

                1      2      3      4      5      6      7      8      9     \
0
Cyn d           18.5  19.67  20.11  18.09  17.92  17.78  18.64   21.3   20.5
rCyn d 1       22.99  21.95  20.66  21.68  20.56  21.62  22.83   23.2  25.07
Dac g          19.15  19.57  21.78  18.37  18.12  19.35  19.95  21.52  20.55
Fes p          21.84   21.3  26.96  24.05  23.21  22.62  21.98  24.55  20.39
rLol p 1       22.33  22.23  22.59  21.99  23.16  21.27  22.99  23.95  21.35
...              ...    ...    ...    ...    ...    ...    ...    ...    ...
Sola t         22.05  22.33  22.33  21.61  21.85  20.94  19.71  21.27  18.76
rSola t 2      22.36  24.08  24.08  16.39  16.83  30.73  18.29   19.2  18.89
rSola t_GBSSI  23.43  24.02  24.02  19.78  20.01  24.56  23.26  21.62  21.01
rHom s LF      27.51  27.94  27.94  27.75  27.55   27.9  27.82  27.71  27.65
CCD-HSA           27  25.61  25.61  24.08  22.01  21.98  21.86  21.37  21.24

                10    ...   6606   6607   6608   6609   6610   6611   6612  \
0                     ...
Cyn d          17.64  ...  16.33  17.18  15.48  15.79  18.64  17.44  17.05
rCyn d 1       22.32  ...  23.27  21.77  21.78  20.69  26.49  20.76  21.07
Dac g          19.35  ...  19.28  20.33  17.34  19.06  18.86  17.84  18.67
Fes p          22.08  ...  21.14  22.39  20.93  21.78  19.95  20.64  20.79
rLol p 1       22.06  ...  17.81  19.57  22.76  21.23  21.77  19.41  22.32
...              ...  ...    ...    ...    ...    ...    ...    ...    ...
Sola t         18.76  ...  20.05  21.44   21.6  18.46  19.28  19.28  20.99
rSola t 2      18.89  ...  17.37  19.06   19.1  18.23  16.97  16.97  19.72
rSola t_GBSSI  21.01  ...  21.38   20.4  20.35  21.23  20.13  20.13  21.65
rHom s LF      27.65  ...  16.05  15.96  15.85  15.76  15.76  15.76  15.66
CCD-HSA        21.24  ...  17.95  18.37  17.59  18.89  17.13  17.13  17.25

                6613   6614   6615
0
Cyn d          18.42  19.03  16.73
rCyn d 1       24.48   21.4  20.12
Dac g          19.99  21.01   17.4
Fes p          19.24  24.33  20.77
rLol p 1       20.15   22.7  20.96
...              ...    ...    ...
Sola t         19.42  19.89  18.79
rSola t 2      19.35  17.84  16.53
rSola t_GBSSI  21.24  20.97  19.07
rHom s LF      15.55  15.44   14.9
CCD-HSA        17.78  17.76  16.76

[245 rows x 6615 columns]

### Cleaning the Metadata
- Use 'head' to look into the metadata
Note that we want to use the rows as columns, therefore:
- Transpose the metadata
- Change the table: row 0 should be the column names

In [13]:
print(md.head) # look into Metadata

<bound method NDFrame.head of            0                1               2               3     \
0  Date of test       2023-04-13      2023-04-13      2023-04-13
1   Test number      2334000487D     2331000683D     2331000884D
2       Country            Spain      Netherland         Germany
3       Age Y/M  3Years 11Months  2Years 8Months  2Years 8Months
4           Sex           Female            Male            Male

             4                 5               6               7     \
0      2023-04-13        2023-04-13      2023-04-13      2023-04-13
1     2331000880D       2331000851D     2331001025D     2331000881D
2         Germany        Netherland          Sweden         Germany
3  7Years 9Months  11Years 11Months  4Years 8Months  1Years 9Months
4          Female              Male          Female            Male

             8               9     ...            6606            6607  \
0      2023-04-13      2023-04-13  ...      2023-06-30      2023-06-30
1     2331000879D     2344000227D  ...     2334002233D     2348000664D
2         Germany              UK  ...        Slovenia          Poland
3  6Years 9Months  3Years 8Months  ...  8Years 8Months  3Years 7Months
4          Female          Female  ...          Female          Female

             6608            6609            6610            6611  \
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2331003597D     2331003185D     2331003447D     2334002232D
2         Belgium          Norway      Netherland        Slovenia
3  3Years 7Months  1Years 5Months  1Years 5Months  2Years 5Months
4          Female          Female          Female            Male

             6612            6613            6614            6615
0      2023-06-30      2023-06-30      2023-06-30      2023-06-30
1     2344000712D     2331003547D     2344000711D     2334002236D
2              UK      Netherland              UK           Spain
3  2Years 5Months  2Years 5Months  2Years 5Months  2Years 5Months
4            Male            Male            Male            Male

[5 rows x 6616 columns]>

In [14]:
md_transposed = md.transpose() # transpose Metadata
print(md_transposed)

                 0            1           2                3       4
0     Date of test  Test number     Country          Age Y/M     Sex
1       2023-04-13  2334000487D       Spain  3Years 11Months  Female
2       2023-04-13  2331000683D  Netherland   2Years 8Months    Male
3       2023-04-13  2331000884D     Germany   2Years 8Months    Male
4       2023-04-13  2331000880D     Germany   7Years 9Months  Female
...            ...          ...         ...              ...     ...
6611    2023-06-30  2334002232D    Slovenia   2Years 5Months    Male
6612    2023-06-30  2344000712D          UK   2Years 5Months    Male
6613    2023-06-30  2331003547D  Netherland   2Years 5Months    Male
6614    2023-06-30  2344000711D          UK   2Years 5Months    Male
6615    2023-06-30  2334002236D       Spain   2Years 5Months    Male

[6616 rows x 5 columns]

In [15]:
md_transposed.columns = md_transposed.iloc[0] # set the first row as new column names
print(md_transposed)

0     Date of test  Test number     Country          Age Y/M     Sex
0     Date of test  Test number     Country          Age Y/M     Sex
1       2023-04-13  2334000487D       Spain  3Years 11Months  Female
2       2023-04-13  2331000683D  Netherland   2Years 8Months    Male
3       2023-04-13  2331000884D     Germany   2Years 8Months    Male
4       2023-04-13  2331000880D     Germany   7Years 9Months  Female
...            ...          ...         ...              ...     ...
6611    2023-06-30  2334002232D    Slovenia   2Years 5Months    Male
6612    2023-06-30  2344000712D          UK   2Years 5Months    Male
6613    2023-06-30  2331003547D  Netherland   2Years 5Months    Male
6614    2023-06-30  2344000711D          UK   2Years 5Months    Male
6615    2023-06-30  2334002236D       Spain   2Years 5Months    Male

[6616 rows x 5 columns]

- Make sure to remove the first row, which now has become the column names

In [16]:
md_cleaned = md_transposed.drop(md_transposed.index[0]) # drop the first row
print(md_cleaned)

0    Date of test  Test number     Country           Age Y/M     Sex
1      2023-04-13  2334000487D       Spain   3Years 11Months  Female
2      2023-04-13  2331000683D  Netherland    2Years 8Months    Male
3      2023-04-13  2331000884D     Germany    2Years 8Months    Male
4      2023-04-13  2331000880D     Germany    7Years 9Months  Female
5      2023-04-13  2331000851D  Netherland  11Years 11Months    Male
...           ...          ...         ...               ...     ...
6611   2023-06-30  2334002232D    Slovenia    2Years 5Months    Male
6612   2023-06-30  2344000712D          UK    2Years 5Months    Male
6613   2023-06-30  2331003547D  Netherland    2Years 5Months    Male
6614   2023-06-30  2344000711D          UK    2Years 5Months    Male
6615   2023-06-30  2334002236D       Spain    2Years 5Months    Male

[6615 rows x 5 columns]

### Use 'head' to inspect your table and make sure it looks as below:

	Date of test Test number	Country	Age Y/M**

1	2023-04-13	2334000487D	Spain	3Years 11Months

2	2023-04-13	2331000683D	Netherland	2Years 8Months

3	2023-04-13	2331000884D	Germany	2Years 8Months

4	2023-04-13	2331000880D	Germany	7Years 9Months

5	2023-04-13	2331000851D	Netherland	11Years 11Months

In [17]:
print(md_cleaned.head)

<bound method NDFrame.head of 0    Date of test  Test number     Country           Age Y/M     Sex
1      2023-04-13  2334000487D       Spain   3Years 11Months  Female
2      2023-04-13  2331000683D  Netherland    2Years 8Months    Male
3      2023-04-13  2331000884D     Germany    2Years 8Months    Male
4      2023-04-13  2331000880D     Germany    7Years 9Months  Female
5      2023-04-13  2331000851D  Netherland  11Years 11Months    Male
...           ...          ...         ...               ...     ...
6611   2023-06-30  2334002232D    Slovenia    2Years 5Months    Male
6612   2023-06-30  2344000712D          UK    2Years 5Months    Male
6613   2023-06-30  2331003547D  Netherland    2Years 5Months    Male
6614   2023-06-30  2344000711D          UK    2Years 5Months    Male
6615   2023-06-30  2334002236D       Spain    2Years 5Months    Male

[6615 rows x 5 columns]>

### Rename the Metadata columns
- rename the columns 'Date of test' to 'Date', 'Test number' to 'TestID' and 'Age Y/M' to 'Age (M)'

In [18]:
rename_dict = {
    'Date of test': 'Date',
    'Test number': 'TestID',
    'Age Y/M': 'Age (M)'
}

In [19]:
md_cleaned = md_cleaned.rename(columns=rename_dict)
print(md_cleaned)

0           Date       TestID     Country           Age (M)     Sex
1     2023-04-13  2334000487D       Spain   3Years 11Months  Female
2     2023-04-13  2331000683D  Netherland    2Years 8Months    Male
3     2023-04-13  2331000884D     Germany    2Years 8Months    Male
4     2023-04-13  2331000880D     Germany    7Years 9Months  Female
5     2023-04-13  2331000851D  Netherland  11Years 11Months    Male
...          ...          ...         ...               ...     ...
6611  2023-06-30  2334002232D    Slovenia    2Years 5Months    Male
6612  2023-06-30  2344000712D          UK    2Years 5Months    Male
6613  2023-06-30  2331003547D  Netherland    2Years 5Months    Male
6614  2023-06-30  2344000711D          UK    2Years 5Months    Male
6615  2023-06-30  2334002236D       Spain    2Years 5Months    Male

[6615 rows x 5 columns]

### Convert the Age column
The function below converts a string into a number of total month e.g.:

"2Years 8Months" convert to 32.0

- use the below function to convert each 'string' from the Age column into a number (float)
- Hint: check the function '.apply(convert_to_month)' which works on a dataframe column

In [ ]:
import re

def convert_to_months(duration_str):
        # Check for missing or empty entries
    if pd.isnull(duration_str) or duration_str.strip() == "":
        return None


    # Regular expression to find years and months in the input string
    year_pattern = re.compile(r"(\d+)\s*Years?")
    month_pattern = re.compile(r"(\d+)\s*Months?")

    # Search for years and months in the input string
    years_match = year_pattern.search(duration_str)
    months_match = month_pattern.search(duration_str)

    # Extract years and months from the matches
    years = int(years_match.group(1)) if years_match else 0
    months = int(months_match.group(1)) if months_match else 0

    # Convert years to months and add to months
    total_months = (years * 12) + months

    return int(total_months)

In [21]:
import re

def convert_to_months(duration_str):
        # Check for missing or empty entries
    if pd.isnull(duration_str) or duration_str.strip() == "":
        return None


    # Regular expression to find years and months in the input string
    year_pattern = re.compile(r"(\d+)\s*Years?")
    month_pattern = re.compile(r"(\d+)\s*Months?")

    # Search for years and months in the input string
    years_match = year_pattern.search(duration_str)
    months_match = month_pattern.search(duration_str)

    # Extract years and months from the matches
    years = int(years_match.group(1)) if years_match else 0
    months = int(months_match.group(1)) if months_match else 0

    # Convert years to months and add to months
    total_months = (years * 12) + months

    return int(total_months)

In [22]:
# convert md['Age (M)'] to number
# write your code here:
md_cleaned['Age (M)'] = md_cleaned['Age (M)'].apply(convert_to_months)

Check the result with 'head'

In [23]:
print(md_cleaned.head)

<bound method NDFrame.head of 0           Date       TestID     Country  Age (M)     Sex
1     2023-04-13  2334000487D       Spain     47.0  Female
2     2023-04-13  2331000683D  Netherland     32.0    Male
3     2023-04-13  2331000884D     Germany     32.0    Male
4     2023-04-13  2331000880D     Germany     93.0  Female
5     2023-04-13  2331000851D  Netherland    143.0    Male
...          ...          ...         ...      ...     ...
6611  2023-06-30  2334002232D    Slovenia     29.0    Male
6612  2023-06-30  2344000712D          UK     29.0    Male
6613  2023-06-30  2331003547D  Netherland     29.0    Male
6614  2023-06-30  2344000711D          UK     29.0    Male
6615  2023-06-30  2334002236D       Spain     29.0    Male

[6615 rows x 5 columns]>

### Rename the columns of expr
- use the Test Number from md['Test number'] as new column names for the expr data

In [24]:
# Check number of columns in expr and number of TestIDs
print("Number of columns in expr:", expr.shape[1])
print("Number of TestIDs:", len(md_cleaned['TestID']))

Number of columns in expr: 6615
Number of TestIDs: 6615

In [25]:
expr.columns = md_cleaned['TestID']
print(expr.head)

<bound method NDFrame.head of TestID        2334000487D 2331000683D 2331000884D 2331000880D 2331000851D  \
0
Cyn d                18.5       19.67       20.11       18.09       17.92
rCyn d 1            22.99       21.95       20.66       21.68       20.56
Dac g               19.15       19.57       21.78       18.37       18.12
Fes p               21.84        21.3       26.96       24.05       23.21
rLol p 1            22.33       22.23       22.59       21.99       23.16
...                   ...         ...         ...         ...         ...
Sola t              22.05       22.33       22.33       21.61       21.85
rSola t 2           22.36       24.08       24.08       16.39       16.83
rSola t_GBSSI       23.43       24.02       24.02       19.78       20.01
rHom s LF           27.51       27.94       27.94       27.75       27.55
CCD-HSA                27       25.61       25.61       24.08       22.01

TestID        2331001025D 2331000881D 2331000879D 2344000227D 2334000522D  \
0
Cyn d               17.78       18.64        21.3        20.5       17.64
rCyn d 1            21.62       22.83        23.2       25.07       22.32
Dac g               19.35       19.95       21.52       20.55       19.35
Fes p               22.62       21.98       24.55       20.39       22.08
rLol p 1            21.27       22.99       23.95       21.35       22.06
...                   ...         ...         ...         ...         ...
Sola t              20.94       19.71       21.27       18.76       18.76
rSola t 2           30.73       18.29        19.2       18.89       18.89
rSola t_GBSSI       24.56       23.26       21.62       21.01       21.01
rHom s LF            27.9       27.82       27.71       27.65       27.65
CCD-HSA             21.98       21.86       21.37       21.24       21.24

TestID         ... 2334002233D 2348000664D 2331003597D 2331003185D  \
0              ...
Cyn d          ...       16.33       17.18       15.48       15.79
rCyn d 1       ...       23.27       21.77       21.78       20.69
Dac g          ...       19.28       20.33       17.34       19.06
Fes p          ...       21.14       22.39       20.93       21.78
rLol p 1       ...       17.81       19.57       22.76       21.23
...            ...         ...         ...         ...         ...
Sola t         ...       20.05       21.44        21.6       18.46
rSola t 2      ...       17.37       19.06        19.1       18.23
rSola t_GBSSI  ...       21.38        20.4       20.35       21.23
rHom s LF      ...       16.05       15.96       15.85       15.76
CCD-HSA        ...       17.95       18.37       17.59       18.89

TestID        2331003447D 2334002232D 2344000712D 2331003547D 2344000711D  \
0
Cyn d               18.64       17.44       17.05       18.42       19.03
rCyn d 1            26.49       20.76       21.07       24.48        21.4
Dac g               18.86       17.84       18.67       19.99       21.01
Fes p               19.95       20.64       20.79       19.24       24.33
rLol p 1            21.77       19.41       22.32       20.15        22.7
...                   ...         ...         ...         ...         ...
Sola t              19.28       19.28       20.99       19.42       19.89
rSola t 2           16.97       16.97       19.72       19.35       17.84
rSola t_GBSSI       20.13       20.13       21.65       21.24       20.97
rHom s LF           15.76       15.76       15.66       15.55       15.44
CCD-HSA             17.13       17.13       17.25       17.78       17.76

TestID        2334002236D
0
Cyn d               16.73
rCyn d 1            20.12
Dac g                17.4
Fes p               20.77
rLol p 1            20.96
...                   ...
Sola t              18.79
rSola t 2           16.53
rSola t_GBSSI       19.07
rHom s LF            14.9
CCD-HSA             16.76

[245 rows x 6615 columns]>

### Print the shapes of both tables
- check if the number of columns in expr matches the number of rows in md

### Dropping duplicates and keep='first'

In [ ]:
# This function can be use to inspect if there a duplictes within a column
md['TestID'].duplicated()

In [ ]:
# remove duplicate values in TestID column
# Hint: check the function: 'drop_duplicates'
# Hint: use the parameter 'keep='first'' to keep the first occurance and remove following duplicates

### Don't forget to drop the duplicates on the expression data as well:

In [ ]:
# example:

# df = df.loc[:, ~df.columns.duplicated()]

# where df.columns.duplicated(): returns a boolean array of duplicates
# ~ negates the boolean values: True is False and False is True

### Print the shapes of both table and make sure the number of rows in md and the number of columns in expr are matching

### Saving the DATA
After initial cleaning, let's save the data in its current form:
- save both tables as csv file in the current directory

### Subsetting the data
- subset the metadata and expression data to county = 'Spain'

Hint: use the TestID on the filtered data to subset on the expression data

In [ ]:
md_spain = md.loc[md.Country == 'Spain', :]

testIdSpain = md.TestID[md.Country == 'Spain']

- Print the shapes to check the result

# Exploration of the expression data
To gain an initial understanding of the expression data, we need to filter out the noise. Currently, noise is defined as values below 30.

- Convert the expr dataframe into a numpy array
- Set values below 30 to 0.0

Remove rows were all values are 0
- use the 'sum' method (axsis = 1) to the the sums of each row
- use this rowsum values to subset the array

In [ ]:
# Convert to numpy

In [ ]:
# Set values below 30 to 0
# Hint:
# 'my_array < value' will return a boolean array which can be used

In [ ]:
# Calculate row sums


# Filter rows where the sum is not 0

### Visualize the Expression Data

The follwing code is provided. Just make sure you replace the names of the variables with your variable names.

In [ ]:
import seaborn as sns
# import pandas as pd
from sklearn.cluster import KMeans  # Example clustering algorithm
from sklearn.preprocessing import StandardScaler

In [ ]:
# Standardize data (optional)
scaler = StandardScaler()
scaled_exp = scaler.fit_transform(filtered_df) # use the name of your array

In [ ]:
# Create the clustermap with hierarchical clustering
sns.clustermap(scaled_exp,
               method='ward',  # Linkage method (ward, single, complete, average, etc.)
               metric='euclidean',  # Distance metric (euclidean, cityblock, etc.)
               cmap="YlGnBu",       # Colormap
               figsize=(10, 8))    # Figure size

### Right click the plot and save the heatmap as image

# Done. Congratulations!